.App {
  text-align: center;
}
#root{
  margin: 30px;
}
select{
  margin:10px;
  height: 30px;
}
table,td{
  margin-top:50px;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  border:1px solid black;
  border-collapse: collapse;
}
.center{
  display:block;
  margin-left:auto;
  margin-right:auto;
}